<p class="text-center mx-auto mb-10">This single-page quote editor was build with Turbo and... <b>a single line</b> of custom JavaScript for the flash message animation.  If you want to learn how it is made, you can read the <a class="inline" href="https://www.hotrails.dev/">Turbo Rails tutorial.</a></p>
<%= turbo_stream_from "quotes" %>
<main class="w-full">
  <div class="header ">
    <div class="grid grid-cols-4">
      <h1 class="col-span-3">Quotes</h1>
      <div>
        <%= link_to "New quote",
                  new_quote_path,
                  data: { turbo_frame: dom_id(Quote.new) },
                  class: "btn btn-rose float-right" %>
      </div>
    </div>
  </div>
  <%= turbo_frame_tag Quote.new %>
  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</main>