<!DOCTYPE html>
<html>
  <head>
    <title>HotwireProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body class="bg-orange-50">    
    <%= render "layouts/navbar" %>
    <div class="max-w-3xl mx-4 md:mx-auto mt-20">
      <%= yield %>
    </div>
  </body>
</html>
