<!DOCTYPE html>
<html>
  <head>
    <title>HotwireProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body class="bg-orange-50">
    <div class="max-w-3xl mx-4 md:mx-auto mt-20 ">
      <h1 class="text-5xl text-center mb-4 "> 
        <span class="inline-block w-12 text-red-500	"><%=show_svg('hotrails.svg') %></span>
        Hotrails 
      </h1>
      <p class="text-center mx-auto mb-10">This single-page quote editor was build with Turbo and... <b>a single line</b> of custom JavaScript for the flash message animation.  If you want to learn how it is made, you can read the <a class="inline" href="https://www.hotrails.dev/">Turbo Rails tutorial.</a></p>
      <%= yield %>
    </div>
  </body>
</html>
